<!doctype html>
<html lang="en" ng-app="application">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{title}}</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="./assets/img/favicon.ico" type="image/x-icon">

	<!-- CSS Files -->
	<link href="./assets/css/app.css" rel="stylesheet" type="text/css">

	<!-- JS Files -->
	<script src="./assets/js/foundation.js"></script>
	<script src="./assets/js/templates.js"></script>
	<!-- <script src="./assets/js/routes.js"></script> -->
	<script src="./assets/js/app.js"></script>
</head>
<body>
	<div class="grid-frame vertical">
	
		<div ng-include="'partials/header.html'"></div>

		<div ui-view class="grid-content" ng-cloak>
		</div>
	</div>
</body>
</html>
