@import "settings";
@import "foundation";
@import "../fonts/foundation-icons/foundation-icons.css";
@import "mixins";


// Styles for ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

// MENU //

.logo-div {
	li {
		overflow: hidden;
	}
	a {
		padding: 0.2rem 1rem !important;
	}

	.logo {
		padding-right: 0.5rem;
		font-size: 2.5rem;
	}
}

.active {
	a {
		background: scale-color($anchor-font-color, $lightness: -14%);
	}
}

// USERS LIST //

.container-list {
	height: 75vh;
	overflow-y: scroll;
	li {
		min-height: 2rem;
	}
	img.user-img {
		@include circle-img(1.5rem);
	}
}

.user-info {
	padding: 2rem;
}

.button-round {
	border-radius: $global-rounded;
}

// USER INFO //

.img-container {
	justify-content: center;
	padding-bottom: 2rem;
	img.user-img {
		@include circle-img(15rem);
	}
}

.user-block {
	padding: 0.75rem;
}