<div class="grid-content shrink" style="padding: 0;">
	<div class="menu-group primary">
		<div class="menu-group-left logo-div">
			<ul class="icon-left primary condense menu-bar">
				<li><a><span class="fi-social-github logo"></span>Github Users</a></li>
			</ul>
		</div>

		<div class="menu-group-right">
			<ul class="icon-left primary condense menu-bar">
				<li ui-sref-active="active"><a ui-sref="home">Home</a></li>
				<li ui-sref-active="active"><a ui-sref="users">Users</a></li>
				<li ui-sref-active="active"><a ui-sref="about">About</a></li>
			</ul>
		</div>
	</div>
</div>