<!-- 
---
name: about
url: /about
data: {pageTitle: 'About - Github Users'}
---
 -->
<div class="grid-container">
	<h1 class="text-center">About Page</h1>
	<p>Developed by <a href="mailto:karim.elgendy.90@gmail.com">Karim Elgendy</a> for Instabug.</p>
</div>
