<!-- 
---
name: home
url: /
data: {pageTitle: 'Home - Github Users'}
---
 -->
<div class="grid-container">
	<h1 class="text-center">Home Page</h1>
	<p>Welcome to Github users list, this app queries all github users from <a href="https://api.github.com/users" target="_blank">https://api.github.com/users</a> and displays the users in a list with pagination. <a ui-sref="users">Check it out!</a></p>
</div>
