<!-- 
---
name: users.user
url: /:name
controller: UserInfoController as user
animationOut: fadeOut
data: {pageTitle: 'User Info - Github Users'}
---
 -->
<div class="loader" ng-hide="user.userInfo.$resolved">
	Loading...
</div>
<div class="container" ng-show="user.userInfo.$resolved">
	<div class="grid-block img-container">
		<img ng-src="{{user.userInfo.avatar_url}}" class="user-img">
	</div>

	<div class="grid-block">
		<div class="medium-12 grid-block user-block">
			<div class="medium-4 grid-content">
				ID:
			</div>
			<div class="grid-content">
				{{user.userInfo.id}}
			</div>
		</div>

		<div class="medium-12 grid-block user-block">
			<div class="medium-4 grid-content">
				NAME:
			</div>
			<div class="grid-content">
				{{user.userInfo.name}}
			</div>
		</div>

		<div class="medium-12 grid-block user-block">
			<div class="medium-4 grid-content">
				EMAIL:
			</div>
			<div class="grid-content">
				{{user.userInfo.email}}
			</div>
		</div>

		<div class="medium-12 grid-block user-block">
			<div class="medium-4 grid-content">
				Created At:
			</div>
			<div class="grid-content">
				{{user.userInfo.created_at | date:'medium'}}
			</div>
		</div>
	</div>

</div>