<!-- 
---
name: users
url: /users
controller: UserListController as userList
data: {pageTitle: 'Users - Github Users'}
---
 -->
<div class="grid-container">
	<div class="grid-block">
		<div class="medium-4 grid-block">
			<div class="grid-content">
				<ul id="users-list" class="container-list" ng-show="userList.users.$resolved">
					<li ng-repeat="user in userList.users">
						<a ui-sref="users.user({name : user.login})" class="user-thumb">
							<img class="user-img" ng-src="{{user.avatar_url}}" alt="{{user.login}}"> {{user.login}}
						</a>
					</li>
				</ul>

				<ul class="container-list" ng-hide="userList.users.$resolved">
					Loading...
				</ul>

				<button type="button" class="button button-round expand" ng-click="userList.loadMore(userList.lastIndex);" ng-disabled="userList.loading">
					<span class="fi-prohibited" ng-show="userList.loading"></span>
					<span ng-hide="userList.loading">Load More</span>
				</button>
			</div>
		</div>

		<div class="medium-8 grid-block user-info">
			<div class="medium-12 grid-content" ng-cloak ui-view></div>
		</div>
	</div>
</div>
